@charset "utf-8";

a{
	text-decoration: none;
	color: #000
}


li{
	list-style: none;
}

header{
	width: all;
	margin: 0 0px;
	overflow: hidden;
	position: relative;
}

footer{
	width: all;
	margin: 0 50px;
	overflow: hidden;
	position: relative;
}

section{
  width: all;
  margin:0 50px;
}

section{
	clear: both;
}

/*ヘッダー部分*/

.header_search{
	float: right;
	width: 5em;
	padding: 4px;
	background:#fff;
	border:#ccc 1px solid;
	border-radius: 50px;
	text-align: center;
	font-size: 85%;
	margin-right: 10px;
	
}

.header_logo{
	position: absolute;
	left: 20px;
	top: 48%;
	margin-top: -40px;
	font-size: 100%;
}


.header_reserve{
	width: 9em;
	padding: 4px;
	background:#fff;
	border:#ccc 1px solid;
	position: absolute;
	left: 81%;
	border-radius: 10px;
	text-align: center;
	font-size: 85%;
}


nav{
	width: all;
	margin: 0 120px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: rgba(0,0,0,0);
	margin-top: 5px; 
	margin-bottom: 5px;	
}

.travel1{
	float: left;
	width: 25%;
	height: 40px;
	text-align: center;
	font-size: 115%;
	
}

.travel2{
	float: left;
	width: 25%;
	height: 40px;
	text-align: center;
	font-size: 115%;
	
}

.travel3{
	float: left;
	width: 25%;
	height: 40px;
	text-align: center;
	font-size: 115%;
	
}	

.travel4{
	float: left;
	width: 25%;
	height: 40px;
	text-align: center;
	font-size: 115%;
	
}	


.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   width: auto;
   height: 65vh;
   margin: 0 10px;
   background: url('main3.jpg') top center / cover no-repeat;
}
.main-visual h2 {
   margin: 0;
   font-size: 30px;
   font-weight: 10px;
   text-align: center;
   color: #fff;
}




/*フッター部分*/

footer{
	width: all;
	margin: 0 0;
	clear: left;
	overflow: hidden;
	position: relative;
	background-color: none;
	border-top: solid 1px black;
}

.footer_SNS{
	float: right;
	width: 25em;
	padding: 10px;
	text-align: center;
	font-size: 85%;
	
}

.footer_logo{
	position: absolute;
	left: 60px;
	top: 50%;
	margin-top: -89px;
	font-size: 145%;
}


.footer_question1{
	width: 9em;
	padding: 10px;
	background:none;
	border:black 2px solid;
	position: absolute;
	left: 37%;
	top: 12%;
	border-radius: 0px;
	text-align: center;
	font-size: 115%;
}


.footer_question2{
	width: 9em;
	padding: 10px;
	background:none;
	border:black 2px solid;
	position: absolute;
	left: 57%;
	top: 12%;
	border-radius: 0px;
	text-align: center;
	font-size: 115%;
}


.footer{
	clear: right;
	float: left;
	list-style: none;
	width: 20%;
	text-align: center;
	padding-bottom: 12px;
}

.copyright{
	text-align: center;
	clear: both;
}

.sns{
	margin-top: -15px; 
	padding: 8px;
}



/**/


.section_header h2{
	background-color: none;
	border-bottom: solid 1px black;
	width: 90%;
}

/*mailhtml*/

.mail_form{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px; 
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 80px;
	background-color: none;
	box-shadow: 0 0 10px 0 #ccc;
	border-radius: 10px;
	font-size: 110%;
}

.form_hd{
	text-align: center;
	padding-right: 40px;
	font-size: 130%;
}

input,select{
	height: 30px;
}

.form_mail,.form_select{
	width: 270px;
}

.form_textarea{
	width: 500px;
	height: 100px;
}

.form_submit{
	width: 150px;
	height: 50px;
	float: left;
	margin-top: 30px;
	margin-right: 50px;
}

.form_question{
	margin-top: 45px;
	font-size: 80%;
	text-decoration: underline;
}

.form_tel{
	float: left;
	margin-top: 10px;
	font-size: 80%;
	text-decoration: underline;
}

/*formhtml*/

.form_header,.question_header,.company_header,
.online_header,.domestic_header{
	clear: left;
	padding-left: .5em;
	padding-top: .3em;
	padding-bottom: .3em;
	margin-bottom: 1em;
	border-left: 5px solid #4682b4;
	color: black;
}

.form_click{
	width: 15em;
	padding: 15px;
	margin-top: 20px;
	margin-left: 10px;
	background: none;
	border: none 1px solid;
	text-align: center;
	border-radius: 0px;
	box-shadow: 0 0 20px 0 #ccc;
}

/*question.html*/

.question_list{
	font-size: 110%;
	margin: 10px;
}

.question_header1{
	float: left;
	width: 400px;
}

.question_header2{
	float: left;
	width: 600px;

}


.keyword_search{
	width: 600px;
	height: 50px;
	font-size: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.keyword_submit{
	width: 110px;
	height: 50px;
	font-size: 100%;
}

/*question2_4.html*/

.question_header2 h3{
	background-color: none;
	border-bottom: solid 1px black;
	width: 90%;
	padding-top: .3em;
	font-size: 135%;
}

.question_header2 p{
	font-size: 120%;
}


/*companyhtml*/

.company_table{
	font-size: 120%;
	margin-left:30px;
}

.company_table td{
	padding: 20px;
	background-color: none;
	border-bottom: solid 1px black;
	width: 220px;
	padding-top: .8em;
	padding-bottom: .8em;	
}


.company_header1{
	float: left;
	width: 625px;
}

.company_header2{
	float: left;
	width: 400px;

}



/*kadaihtml*/
 /*オンライン旅行*/

.online_table{
	width: 100%;
}

.online_table th{
	width: 220px;
}


.anime_test{
	display: block;
	width: 200px;
	position: relative;
	animation: anime1 2s ease;
	margin-bottom: 10px;
}


@keyframes anime1{
	0%{
		opacity: 0;
		top: 50px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}


.detail{
	width: 550px;
	text-align: left;
	padding-left: 10px;
}

.price{
	width: 130px;
	text-align: left;
}

.moredetail button{
	width: 100px;
	height: 50px;
	background-color:;
	border: none;
	cursor: pointer;
	outline: none;
	color: black;
}


.more_button button{
	background-color:#5c6bc0;
	border: none;
	cursor: pointer;
	outline: none;
	color: #fff;
	height: 40px;
	width: 160px;
	border-radius: 20px;

}

.more_button{
	text-align: center;
	margin-top: 20px;
}

 /*特集*/


.special_header{
  position: relative;
  padding: 0.35em 0em;
  background: black;
  color: #fff;
  width: 250px;
  text-align: center;
  font-size: 100%;
}

.special_header1,.special_header2,.special_header3{
	float: left;
	margin-right: 40px;
}

.special_header4{
	float: left;
}

.special_header4 button{
	background-color:#fff;
	border: black solid 1px;
	cursor: pointer;
	outline: none;
	color: black;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 80px 30px;
}

.special_header1 img,.special_header2 img,.special_header3 img{
	width: 250px;
	margin-top: -1.5em;
	padding: 0.35em 0em;
	border-radius: px;
}

 /*お知らせ*/

 .information_table{
	font-size: 110%;
	margin-left:0px;
}

.information_table td{
	padding: 10px;
	background-color: none;
	width: 400px;
	padding-top: .5em;
	padding-bottom: .5em;	
}



 /*国内旅行*/

.kadai_header1{
	float: left;
	width: 500px;
}

.kadai_header2{
	float: left;
	width: 600px;
}

.kadai_header3{
	clear: left;
	width: all;
}

.search_submit{
	width:80px; 
	height:45px;
	border-style: none;
}

.stay_search{
	width: 330px;
}

.kadai_header3 button{
	background-color:#4682b4;
	border: none;
	cursor: pointer;
	outline: none;
	color: #fff;
	height: 80px;
	width: 550px;
	border-radius: 40px;
	margin-top: 30px;

}


.kadai_header3 p{
	font-size: 15px;
	text-align: center;

}

.kadai_header3{
	text-align: center;
}


/*onlinehyml*/

.online_header1{
	float: left;
	width: 500px;
}

.online_search{
	width: 250px;
}

.online_header2{
	float: left;
	width: 600px;
}

.online_header2 select{
	width: 250px;
}

.onlinesearch_submit{
	width: 350px;
	height: 45px;
	margin-top: 25px;
	margin-left: 300px;
	border-radius: 20px;
	border-style: none;
}

/*online_sydneyhtml*/

.sydney_header1{
	float: left;
	width: 500px;
}

.sydney_header1 img{
	width: 400px;
	height: 300px;
}


.sydney_header2{
	float: left;
	width: 600px;
	height: 150px;
}

.sydney_header2 p{
	margin-top: 35px;
	font-size: 110%;
}

.sydney_header3{
	float: left; 
	width: 600px;
	height: 150px;
}

.sydney_header3 img{
	width: 200px;
	margin-right: 35px;
}

.sydney_header4{
	float: left;
	width: 880px;
	font-size: 110%;
}


.timeline_table td{
	padding-top: .5em;
	padding-bottom: .5em;
}

.timeline_time{
	width: 100px;
	text-align: left;
}

.timeline_content{
	width: 300px;
}


.sydney_header5{
	float: left;
	margin-top: 600px;
}

.sydney_header5 button{
	width: 155px;
	height: 60px;
	border-style: none;
}


/*online_uluruhtmml*/

.uluru_header1{
	float: left;
	width: 500px;
}

.uluru_header1 img{
	width: 400px;
	height: 300px;
}


.uluru_header2{
	float: left;
	width: 600px;
	height: 150px;
}

.uluru_header2 p{
	margin-top: 35px;
	font-size: 110%;
}

.uluru_header3{
	float: left; 
	width: 600px;
	height: 150px;
}

.uluru_header3 img{
	width: 200px;
	margin-right: 35px;
}

.uluru_header4{
	float: left;
	width: 880px;
	font-size: 110%;
}


.uluru_header5{
	float: left;
	margin-top: 500px;
}

.uluru_header5 button{
	width: 155px;
	height: 60px;
	border-style: none;
}

.uluru_header6{
	float: left;
	margin-top: 20px;
}

.uluru_header6 button{
	width: 155px;
	height: 60px;
	border-style: none;
}


/*online_sydney_reservehtml*/

.date_option{
	width: 250px;
	height: 50px;
}

.amount_option{
	width: 200px;
	height: 50px;
}

.next button{
	width: 125px;
	height: 50px;
	margin: 25px 0;
	margin-bottom: 45px;
	border-style: none;
}

/*login_reservehtml*/

.login_section1{
	width: all;
	margin: 50px 250px;
}

.login_section2{
	width: all;
	margin: 25px 350px;
}

.login_section2 ul{
	display: table;
	margin: 25px auto;
	width: 80%;
	text-align: center;
}

.login_section1 li{
	display: table-cell;
	min-width: 50px;
}

.login_section1 li a{
	display: block;
	width: 100%;
	padding: 18px 35px;
}

.current{
	border: 2px solid #555; 
}

.list a{
	color: #ccc;
}

.login_section1 h3,.login_section2 h3{
	background-color: none;
	border-bottom: solid 1px black;
	width: all;
}

.login_button button,.firstlogin_button button{
	width: 200px;
	height: 50px;
	border: solid 1px;
	border-radius: 50px;
	background-color: #555;
	color: #fff;
	cursor: pointer;
}

.login_button,.firstlogin_button{
	text-align: center;
	margin: 25px;
}

iframe{
	max-width: 100%;
}


